<!--switch in case there will be some more types-->

<md-list ng-switch on="$ctrl.resultsType">
	<artist-item  ng-switch-when="artist" ng-repeat="artist in $ctrl.resultsList track by artist.id" artist="artist"></artist-item>
	<!-- <album-item ng-switch-when="album"></album-item>< -->
	<!-- <track-item ng-switch-when="track"></album-item>< -->
	<div ng-if="$ctrl.resultsList.length==0" >Empty search result</div>

</md-list>
