
<md-input-container>
	<label>Artist name</label>
	<input ng-change="$ctrl.search($ctrl.searchInput)" type="text" ng-model="$ctrl.searchInput" ng-model-options="{'debounce': {'default': 500,'blur': 0}}">

</md-input-container>