<md-list-item class="md-2-line">
    <img ng-src="{{$ctrl.artist.getSmallestAvatar().url}}" class="md-avatar" alt="{{$ctrl.artist.name}}"/>
    <div class="md-list-item-text" layout="row">
        <div layout="column">
            <h3>{{$ctrl.artist.name}}</h3>
            <p ng-click="$ctrl.showArtistTracks()">
                <a href="" class="toggle-track-button">
                    <span ng-show="!$ctrl.artist.isExpanded">Show</span>
                    <span ng-hide="!$ctrl.artist.isExpanded">Hide</span>
                    top 5 tracks
                </a>
            </p>
        </div >

        <div layout="column" class="md-secondary">
            <div ng-if="$ctrl.artist.isExpanded">
                <small ng-if="!$ctrl.artist.tracks.length==0">Top 5 tracks</small>
                <div layout="row">
                    <track-item
                            ng-repeat="track in $ctrl.artist.tracks | limitTo: $ctrl.TRACK_PER_ARTIST  track by track.id"
                            track="track"></track-item>

                    <small ng-if="$ctrl.artist.tracks.length==0">no tracks</small>
                </div>
            </div>
        </div>


    </div>
</md-list-item>
<md-divider></md-divider>

