artist-item {
  .toggle-track-button {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.010em;
      margin: 0 0 0 0;
      line-height: 1.6em;
  }

}