<div layout="row" layout-align="center start">
	<div flex="100" flex-gt-sm="50">
		<h3>Spotify search</h3>

		<spotify-search-box query-string="$ctrl.queryString"></spotify-search-box>
		<spotify-search-results results-list="">
		</spotify-search-results>
	</div>

</div>
