track-item .play-pause-button:first-child {
  margin-left: 0px;
  padding-left: 0px; }
track-item .play-pause-button:last-child {
  margin-right: 0px;
  padding-right: 0px; }

/*# sourceMappingURL=track-item.css.map */
