<md-button class="md-icon-button play-pause-button" ng-switch on="$ctrl.state">
    <md-icon ng-switch-when="PLAY" ng-click="$ctrl.setState('PAUSE')" md-font-set="material-icons">pause_circle_filled</md-icon>
    <md-icon ng-switch-when="PAUSE" ng-click="$ctrl.setState('PLAY')"  md-font-set="material-icons">play_circle_filled</md-icon>
    <md-tooltip md-direction="bottom">{{$ctrl.track.name}}</md-tooltip>
</md-button>
